.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.url-no-format {
  color: #000000;
  text-decoration: none;
}

.masthead {
  vertical-align: center;
}

.browser-pager {
  position: absolute;
  bottom: 20px;
  right: 0;
}

.custom-card-img {
  max-height: 200px;
  object-fit: cover; /* contain? */
  transition-duration: 250ms;
}

.custom-card-img:hover {
  transition-duration: 250ms;
  transform: scale(1.5, 1.5);
}

div.container {
  margin: 0;
  position: relative;
  margin: auto;
  margin-top: 30px;
  flex: 1;
  max-width: 1000px;
}

.card-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-comment-counter {
  color: #000000;
  text-decoration: none;
}

.counter-child {
  float: left;
  margin: 5px;
}

.download-child {
  float: right;
  margin: 5px;
  cursor: pointer;
}

.card-user {
  display: flex;
  justify-content: left;
}

.row.img-browser {
  margin-top: 15px;
}

.card-image-container {
  overflow: hidden;
}

.profile-box-data p,
.profile-box-data input {
  margin-top: 10px;
}

.fade-out-alert {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: visibility 0s 2s, opacity 2s linear;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-bg {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1a1a2de1;
  width: 100%;
  height: 82.5vh;
}
